body{
    margin: 0px;
    max-width: 1920px;
    
}

@import url(https://db.onlinewebfonts.com/c/7a45cffcf1eee0797d566deb425ebaa9?family=Formula1+Display-Regular);
@import url(https://db.onlinewebfonts.com/c/3745f5043df4f9424d7d094f3411f542?family=Titillium); /*font-family: "Titillium";*/
@import url(https://db.onlinewebfonts.com/c/4944f4308352f169f622b1f098fa2203?family=Formula1+Display+Wide); /*font-family: "Formula1 Display Wide*/
@import url(https://db.onlinewebfonts.com/c/f817b827ea06fe3bfe3ee1e8d538686a?family=Formula1+Display-Black); /*font-family: "Formula1 Display-Black";*/
@import url(https://db.onlinewebfonts.com/c/5fa59df7bc502c63582850f9f34b9db2?family=Formula1+Display-Bold+Bold);
@import url(https://db.onlinewebfonts.com/c/708ebf9601ecd9690da3380de4596d96?family=Formula1+Display-Italic+Italic);

.secciones{
    width: 100%;
    height: 30%;
    position: fixed;
    top: 0;
    z-index: 100;
    
}
#secciones{
    background-color: #15151e;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
    border-bottom: solid rgb(14, 14, 22) 3px;
    background-image: url(DRS-D-2x~eefRDGxF.b150f948.png);
    background-size: cover;
    background-repeat: no-repeat;
}


#seccion{
    font-family: "Formula1 Display-Regular";
    color: white;
    font-size: 125%;
    font-weight: lighter;
    margin-left: 40px;
    margin-right: 40px;
}
.navegacion{
    margin-right: 10%;
    margin-left: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo{
    display: flex;
    align-content: center;
}

#logo{
    width: 80%;
    margin-left: 50%;
}

.fondo{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    background-image: url(fondomomentos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(30%);
}

.bienvenida{
    margin-top:10%;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
}

#bienv{
    font-weight: lighter;
    font-family: "Formula1 Display-Regular";
}

.cuerpodelapagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuadro1{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle,#212130,#15151e);
    margin-top: 10%;
    border-color: rgb(14, 14, 22);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: solid 7px rgb(14, 14, 22);
}

.textintro{
    font-family: "Formula1 Display-Black";
    color: white;
    font-size: 30px;
}

#subtitulos{
    color: white;
    font-size: 30px;
    font-family: "Titillium";
}

#subtitulos2{
    color: white;
    font-size: 20px;
    font-family: "Titillium";
}


#textos{
font-size: 15px;
color: white;
font-family: "Formula1 Display-Regular";
}

.momentos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4,1fr);
    width: 100%;
    height: 2500px;
}

.interior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    background-color: rgb(14, 14, 22);
    padding: 10px;
    transition: all 0.3s ease;
}

.info p{
    transition: all 0.3s ease;
    opacity: 0;
    overflow: hidden;
}

#imagen{
    width: 450px;
    border-radius: 20px;
}

.m1{
    grid-column: 1/2;
    grid-row: 1/2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.m2{
    grid-column: 1/2;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.m3{
    grid-column: 1/2;
    grid-row: 3/4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.m4{
    grid-column: 1/2;
    grid-row: 4/5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.m5{
    grid-column: 2/3;
    grid-row: 1/2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.m6{
    grid-column: 2/3;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.m7{
    grid-column: 2/3;
    grid-row: 3/4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.m8{
    grid-column: 2/3;
    grid-row: 4/5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.interior:hover p{
    opacity: 1;
}

.interior:hover{
    transform: scale(105%);
    
}